.App {
  text-align: center;
}

body {
  background-color: floralwhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.init {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.init form {
  display: grid;
}

.form-input {
  width: 500px;
  min-height: 35px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid darkseagreen;
}

.form-select {
  width: 500px;
  min-height: 35px;
  max-height: 100px;
}

.form-button {
  width: 100px;
  min-height: 35px;
  max-height: 100px;
  color: black;
  font-size: large;
  background-color: #a4cfbb;
  border-radius: 5px;
  border-style: hidden;
}
.form-button:hover {
  background-color: darkseagreen;
}
.form-button:active {
  background-color: mediumseagreen;
}

.form-button:disabled {
  background-color: darkgray;
}

.single {
  background-color: cadetblue;
  height: 100%;
}